<form asp-action="ImportProducts" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx" required />
    <button type="submit" class="btn btn-primary">Import</button>
</form>
